html, body {
  height: 100vh; /* Asegura que html y body ocupen todo el alto del viewport */
  margin: 0;
  font-family: "Montserrat", sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: linear-gradient(90deg, rgba(241, 243, 255, 1) 48%, rgba(255, 250, 250, 1) 100%);
  box-sizing: border-box;

}

#root {
  display: flex;
  flex-direction: column;
  height: 100%; /* El root debe ocupar todo el viewport */
}

main {
  margin-top: 100px; /* Eliminar margen superior */
  flex-grow: 1; /* Ocupa todo el espacio disponible */
  max-width: 100%;
  flex-grow: 1; /* Ocupa todo el espacio disponible entre el Navbar y el Footer */
  display: flex; /* Permite que su contenido se alinee */
  flex-direction: column; /* Asegura que el contenido se apile verticalmente */
}

footer {
  margin: 0; /* Asegura que no haya márgenes adicionales */
  padding: 0; /* Asegura que no haya padding adicional */
}
